<html lang = "en-us">
    <head>
        <style>
            body{
                background-color:#2c343b;   
            }
            h1{
                color:#e6e1d1;
                text-shadow: 6px 6px #52616e;
                font-size:650%;
                    position:absolute;
                    top:0px; 
                    left:0;
                    right:0;    
                    margin-left:auto;
                    margin-right:auto;
            }
            h2{
                position:absolute;
                color:#e6e1d1;
                text-shadow: 3px 3px #52616e;
                bottom:100;
                left:0;
                right:0;
                font-size:250%;
                margin-left:auto;
                margin-right:auto;
            }
            #meme{
                position:absolute;
                top:0; 
                bottom:0;
                left:0;
                right:0;    
                margin-left:auto;
                margin-right:auto;
                margin-bottom:auto;
                margin-top:auto;
              }
        </style>
        <center>
            <body>
                <a href="auth/twitter"><img id = "meme" src =  http://i.imgur.com/wigCInB.png></a>
                <h1>
                    HOOZAT?
                </h1>
                <h2>
                    How well do you know your Tweeps?
                </h2>
                </h2>
            </body>
        </center>
    </head>
</html>